@import '../variables.css';

.root {
  margin-bottom: 40px;
}

.label {
  color: #6f6f6f;
  font-weight: lighter;
}

.component {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  background: #343434;
  border-radius: 4px;
  color: #fff;
  margin-top: 5px;
}
