@import '../variables.css';

.container {
  clear: both;
}

.component {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}

.component input {
  margin-right: 5px;
}

.component label {
  color: #fff;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.label {
  color: #6f6f6f;
}

.radioLongDesc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.componentItem {
  flex: 50%;
  color: #fff;
  cursor: pointer;
}

.componentItem label {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}

.componentItem label div:nth-child(2) {
  margin-top: 1px;
}

.componentItem label p {
  font-size: 14px;
  color: #6f6f6f;
}
